/* Element Selector */
h1, { 
color: red;
background-color: yellow
}

/* ID Selector */
#hobbies {
border: 2px solid rgb(17, 165, 175);

}

/* Class selector */
.big {
font-size: 2em;
}
/* Apply to all li elements that are children of #hobbies (any element with that id) */
#hobbies li  {
background-color: green;
}

li:hover, #hobbies li:hover { 
background-color: blue;
}